/* *** WARNING: DO NOT USE THIS CODE IN PRODUCTION ***
    This is a deprecated feature (CSS Expressions) only supported by
    very old versions of Internet Explorer and is a security risk.
*/

body {
    width: expression(alert("1") + '100%');
}